<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
   <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>javax.ws.rs.core.Application</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
  <context-param>
    <param-name>bootsfaces.FONT_AWESOME</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>net.bootsfaces.blockUI</param-name>
    <param-value>true</param-value>
  </context-param>
   
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>admin</param-value>
	</context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
 
 <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
 
 <servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CoinServlet</servlet-name>
		<servlet-class>co.za.fnb.coin.servlet.CoinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CoinServlet</servlet-name>
		<url-pattern> </url-pattern>
	</servlet-mapping>

 
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/common/expired.jsf</location>
  </error-page>
  
  
</web-app>